.hero {
    display: flex;
    flex-direction: column;
    height: 95vh;
    border: 1px solid green;
}

.hero__body {
    border: 1px solid red;
    display: flex;
    align-self: center;
}

.hero__header {
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, yellow, red 60%);
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.hero_pokemonimg {
    height: 100px;
}

.hero__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    background-repeat: no-repeat;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/img/vector.png);
}

.hero__thumbnail {
    background-size: cover;
    background-position: center;
    height: 250px;
    filter: brightness(0%);
}

.hero__thumbnail.catch {
    background-size: cover;
    background-position: center;
    height: 250px;
    transition: 0.5s ease-in;
    filter: brightness(100%);
}

.hero__input {
    padding: 5px 0 5px 5px;
    border-radius: 5px;
    height: 50px;
    font-size: larger;
}

.hero__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__info {
    text-align: center;  
    font-size: var(--h2-font-size);
}