:root {

    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;

    --paragraph-font-size: 1rem;

    --primary-color: #fff;

    /*https://palettes.shecodes.io/palettes/218 */
    .first-color {
        background: #363636;
    }

    .second-color {
        background: #dc2f2f;
    }

    .third-color {
        background: #ff894c;
    }

    .fourth-color {
        background: #f8f8f8;
    }

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.background-color {
    background-color: #fff;
}

a,
li,
ul,
ol {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

html,
body {
    min-height: 100vh;
}

.container {
    width: 1140px;
    margin: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 95vh;
    border: 1px solid green;
}

.hero__body {
    border: 1px solid red;
    display: flex;
    align-self: center;
}

.hero__header {
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, yellow, red 60%);
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.hero_pokemonimg {
    height: 100px;
}

.hero__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    background-repeat: no-repeat;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/img/vector.png);
}

.hero__thumbnail {
    background-size: cover;
    background-position: center;
    height: 250px;
    filter: brightness(0%);
}

.hero__thumbnail.catch {
    background-size: cover;
    background-position: center;
    height: 250px;
    transition: 0.5s ease-in;
    filter: brightness(100%);
}

.hero__input {
    padding: 5px 0 5px 5px;
    border-radius: 5px;
    height: 50px;
    font-size: larger;
}

.hero__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    font-size: var(--h1-font-size);
}

.hero__info {
    text-align: center;
    margin-bottom: 1rem;
    font-size: var(--h2-font-size);
}

.hero__paragraph {
    padding-top: 1rem;
    font-size: var(--paragraph-font-size);
}

.contact {
    min-height: 20vh;
    display: flex;
    flex-direction: row;
}

.contact__links {
    flex: 1;
}

.button {
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #fff;
    font-size: 1.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 0.25em;
}

.divideline {
    display: flex;
    border: 1px solid black;
}

.license {
    text-align: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 20px;
    ;
}

.footer {
    height: 10vh;
}

@media screen and (max-width: 1400px) {

    .container {
        width: auto;
        border: 1px solid green;
    }


    .hero__body {
        align-items: center;
        border: 1px solid red;
    }

    .hero__body {
        display: flex;
        flex-direction: column;
        
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: auto;
        border: 1px solid red;
    }

    .hero__header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 960px;
        border: 1px solid gray;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 720px;
        border: 1px solid blue;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 540px;
        border: 1px solid yellow;
    }
}